/*--scss:defaults --*/


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Unbounded:wght@200&display=swap');

$my-font-size: 25px;


// Colors
$med-Blue:#0096c7;
$light-Blue:#CAF0F8;
$teal:#00659C;
$dark-blue:#03045E;
$seafoam: #0C88F7;
$test1: #666EB2;
$test2: #DEE1FF;

// Base Document Colors
$navbar-bg: $test1;
$body-bg: $test2;
$body-color: black;
$link-color: $seafoam;

/*-- scss:rules --*/

// resize logo (top left corner) see https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss
.navbar-brand img { 
  max-height: 50px;
  width: auto;
}


