/*--scss:defaults --*/


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Unbounded:wght@200&display=swap');

$my-font-size: 25px;


// Colors
$med-Blue:#0077B6;
$light-Blue:#CAF0F8;
$teal:#00659C;
$dark-blue:#03045E;
$seafoam:#00b4d8;

// Base Document Colors
$navbar-bg: $med-Blue;
$body-bg: $light-Blue;
$body-color: black;
$link-color: $seafoam;

/*-- scss:rules --*/
.title {
  color: $teal;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
  font-weight: 700;
  color: $teal;
}


.navbar-brand img { // see https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss
  max-height: 50px;
  width: auto;
}