/*--scss:defaults --*/


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Unbounded:wght@200&display=swap');

$my-font-size: 25px;


// Colors
$ube:#5E65AA;
$light-ube:#DEE1FF;
$blueLink: #0C88F7;



// Base Document Colors
$navbar-bg: $ube;
$body-bg: $light-ube;
$body-color: black;
$link-color: $blueLink;

/*-- scss:rules --*/

// resize logo (top left corner) see https://github.com/robertmitchellv/robertmitchellv.github.io/blob/main/custom-dark.scss
.navbar-brand img { 
  max-height: 50px;
  width: auto;
}


