/*--scss:defaults --*/


// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


//colors
$teal:#4bc6d1;
$purple:#60228a;
$dark-blue:#303e80;

$my-font-size: 25px;

// Base Document Colors
$navbar-bg: $teal;
$body-bg: $dark-blue;

/*-- scss:rules --*/
h1, h3 {
  letter-spacing: 8px;
  font-weight: 700;
  color: $teal;
}

.title {
  color: white;
}

.custom-subtitle {
  font-size: 22px;
  font-style: italic;
  color: $purple;
}